.header__lang-link {
    width: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 1s ease-in-out;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media  screen and (max-width: 767px) and (min-width: 320px) {
    .header__lang-link {
        width: 22px;
        font-size: 18px;
        line-height: 20px;
    }
}