.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2*48px);
    margin: 0 auto;
    padding-top: 28px;
}

@media  screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 2*24px);
    }
}