.intro {
    margin-top: 0;
    padding-top: 92px;
    max-width: 690px;
    margin-left: 148px;
    height: fit-content;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
        padding-top: 92px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        padding-top: 88px;
        width: calc(100% - 2*24px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .intro {
        padding-top: 64px;
        width: calc(100% - 2*16px);
        margin: 0 auto;
    }
}