.lead__subtitle {
    margin: 0;
    padding-top: 2rem;
    width: 640px;
    height: 72px;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
    text-align: center;
}


@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: 100%;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 1rem;
    }
}