.cover__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 245px;
    z-index: 1;
    width: min-content;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        padding-top: calc(0.5*0.625*100vw + 27px - 152px);
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding-top: calc(0.5*0.625*100vw - 70px + 3px);
    }
}