.place {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 460px minmax(484px, 1fr);
    grid-template-rows: max-content 460px;
    grid-gap: 48px 3.125vw;
    margin: 0;
    grid-template-areas:
    "place__title place__website"
    "place__image place__text";
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px minmax(456px, max-content);
        grid-template-rows: max-content 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px  minmax(352px, max-content);
        grid-template-rows: max-content minmax(340px,1fr);
        grid-gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 45px 100vw max-content;
        grid-template-areas:
        "place__title"
        "place__website"
        "place__image"
        "place__text";
        gap: 32px;
    }
}