.place__website {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
    grid-area: place__website;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .place__website {
        padding-left: 16px;
        width: calc(100% - 16px);
    }
}